* {
  margin: 0;
  padding: 0;
}

:root {
  /* основной цвет текста */
  --primary-text-color: rgba(33, 33, 33, 1);
  --secondary-text-color: rgba(117, 117, 117, 1);
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --light-grey-color: rgba(255, 255, 255, 0.6);
  --dark-background-color: #2f303a;
  --light-background-color: #f5f4fa;
  --border-light-color: #eeeeee;
  --header-border-color: #ececec;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Header */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 200px;
}

.section {
  padding-bottom: 94px;
}

.header-border {
  width: 1600px;
  border-bottom: 1px solid var(--header-border-color);
}

.main-nav {
  display: flex;
  align-items: center;
}

.main-nav .item {
  margin-right: 50px;
}

.main-nav .item:first-child {
  margin-left: 93px;
}

.main-nav .item:last-child {
  margin-right: 0px;
}

.logo {
  width: 145px;
  height: 31px;
}

.main-nav .nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.main-nav .nav-link:hover,
.main-nav .nav-link:focus,
.main-nav .nav-link:active {
  color: var(--accent-color);
}

.contacts {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  display: flex;
  margin-left: auto;
}

.contacts .item {
  display: flex;
  margin-right: 50px;
}

.contacts .item:last-child {
  margin: 0px;
}

.contacts:hover {
  color: var(--accent-color);
  font-weight: 500;
}

.current-page {
  color: var(--accent-color);
  font-weight: 400;
  font-size: 14px;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* Блок-герой */
.hero {
  background-color: var(--dark-background-color);
  text-align: center;
  height: 600px;
  min-width: 1600px;
}

.hero-main-text {
  display: inline-block;
  margin-bottom: 30px;
  padding-top: 200px;
  width: 696px;
  height: 120px;
  color: var(--white-color);
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
}

.hero-button {
  display: block;
  align-items: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: none;
  border-radius: 4px;
  min-width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: rgba(0, 0, 0, 0.15);
  padding: 10px 32px;
}

/* Особенности */
.features-list {
  margin-top: 94px;
  display: flex;
  justify-content: space-between;
}

.features-list .item:not(:last-child) {
  margin-right: 30px;
  max-width: 266px;
  max-height: 101px;
}

.features h2 {
  display: none;
}

.features-list h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  margin-bottom: 10px;
}

.features-list p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  box-sizing: border-box;
  padding: 0px;
}

/* Чем мы занимаемся */
.work-directions h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 50px;
  padding-top: 0px;
}

.work-directions .images {
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}

.work-directions .images:last-child {
  margin-right: 0px;
}

/* Наша команда */
.our-team {
  background: var(--light-background-color);
  padding-top: 94px;
  width: 1600px;
  
}

.our-team h2 {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 264px;
  height: 42px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--primary-text-color);
}

.team-members-list {
  display: flex;
  justify-content: space-between;
}
.team-members h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--primary-text-color);
  margin-top: 30px;
  margin-bottom: 10px;
}
.team-members p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-text-color);
}
.team-members-card {
  width: 270px;
  height: 368px;
  border: transparent;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  background-color: var(--white-color);
}

/* Footer */
.footer {
  background: var(--dark-background-color);
  height: 252px;
  min-width: 1600px;
}

.logo {
  display: block;
  padding-top: 60px;
  margin-bottom: 20px;
}
.logo-web {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-studio {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.footer .address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-color);
}
.footer-contacts {
  display: block;
  padding-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--light-grey-color);
}

/* Portfolio page */

/* Карточки с работами */
.portfolio-works {
  display: none;
}

.buttons-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttons-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.buttons-list .item {
  margin-bottom: 50px;
  margin-left: 30px;
  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;
  background: var(--light-background-color);
  border-radius: 4px;
  border-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.buttons-list .item:hover,
.buttons-list .item:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

/* Карточки */
.demo-cards {
  display: flex;
  flex-wrap: wrap;
}

.demo-cards .item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  height: 404px;
  background: var(--white-color);
  border: 1px solid var(--border-light-color);
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.demo-cards .item:nth-child(3n) {
  margin-right: 0px;
}

.demo-cards .item:nth-last-child(-n + 3) .demo-cards h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}
.demo-cards p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.demo-cards img {
  width: 370px;
  height: 294px;
}

.demo-cards .title {
  font-weight: 700px;
  font-size: 18px;
  line-height: 2;
}

.demo-cards h2,
p {
  padding-left: 24px;
}
.portfolio-cards {
  margin-bottom: 188px;
}
